<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Pair Stair</title>
    <script type="text/javascript" src="../../media/js/jquery-1.6.4.min.js"></script>
    {% block javascript %}
    <script type="text/javascript">
        function renew_pair_table(msg) {
            $.ajax({
                url: "/pair/get_pair_table",
                success: function(data) {
                    $("#pair_table").html(data);
                    if(msg)add_success_message(msg)
                }
            });
        }
        function add_success_message(msg) {
            $('#add_form').append(msg)
            setTimeout('remove_message()',5000)
        }
        function remove_message() {
            $('.message.success').remove()
        }
        function do_pair(programmer_0, programmer_1) {
            $.ajax({
                url: "/pair/do_pair/" + programmer_0 + "/" + programmer_1,
                success: function(data) {
                    renew_pair_table(data)
                }
            });
        }
        
        function delete_programmer(programmer) {
            $.ajax({
                type: "DELETE",
                url: "/pair/programmer/" + programmer,
                success: function(data) {
                    renew_pair_table(data)
                }
            });
        }
    </script>
    {% endblock %}
    {% block style %}
        <style type="text/css">
            .error{
                background-color: #FF0000;
            }
            .success{
                background-color: #00FFFF;
            }
            .useless{
                display: none;
            }
            th {
                border: solid 1px #000000;
            }
            td {
                border: solid 1px #000000;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block body %}
<div id="pair_table">
{% include 'pair/pair_table.html' with all_programmers=all_programmers %}
</div>
<hr/>
<div id="add_form">
    <div class="message error">{{ error_message }}</div>
    <form action="/pair/programmer" method="POST">
    {% csrf_token %}
    <label for="new_programmer_name">new programmer name</label>
    <input id="new_programmer_name" name="new_programmer_name" />
    <input id="add_new_programmer" type="submit" value="add" />
    </form>
</div>
{% endblock %}
</body>
</html>